<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Account Locked</title>
    </head>
    <body>
        <p>Hello <b th:text="${username}">User</b>,</p>
        <p>Your account has been <span style="color:red;">locked</span> due to multiple failed login attempts.</p>
        <p>If this was you, please <b>contact support</b> to unlock your account.</p>
        <p>If this was not you, your account may be under attack. Please contact support immediately.</p>
        <p>Best regards,<br/>The Team</p>
    </body>
</html>
